body {
    text-align:center;
    font-family: 'Azeret Mono', monospace;
}

h3 {
    font-size:30px;
}

h4 {
    font-size:25px;
}

input {
    width:50%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 12px 20px;
}